{% extends "base.html" %}

{% block content %}

{% set nombre = usuario.nombre %}
{% set apellido = usuario.apellido %}

{% include "navbar.html" %}
{% include "sidebar.html" %}

<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
		    <h2>Grupos</h2>
		</div>
		<div class="panel-body">
			<ul class="list-group">
			{% for grupo in grupos %}
				<li class="list-group-item"><a href="{{ grupo.url|e }}">{{ grupo.grupo.nombre|e }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}

