{% extends "base.html" %}

{% block content %}

{% set nombre = usuario.nombre %}
{% set apellido = usuario.apellido %}

{% include "navbar.html" %}
{% include "sidebar.html" %}

<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
		    <h2>{{ grupo|e }}</h2>
		</div>

		<div class="panel-body">
			<ul class="list-group">
			
				<div class="panel panel-default">
                <div class="panel-heading">
                    <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <!-- <img class="media-object" src="perfil.png"> -->
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Publicar</h4>
                    </div>
                    </div>
                </div>
                <form class="form-signin" action="/grupo/{{grupoid}}" method="post">
                    <input type="text" name="titulopub" class="form-control">
					<textarea class="form-control" rows="5" name="textpub"></textarea>
        			<button class="btn btn-primary btn-block" type="submit">Enviar</button>
      			</form>
				
			</ul>
		</div>

		{% for publicacion in publicaciones %}
		<div class="panel-body" id="{{ publicacion.id }}">
			<ul class="list-group">
			
				<div class="panel panel-default">
                <div class="panel-heading">
                    <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <!-- <img class="media-object" src="perfil.png"> -->
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ publicacion.titulo|e }}</h4>
                        Por <a href="{{ publicacion.usuarioUrl }}">{{ publicacion.usuario|e }}</a>
   						el {{ publicacion.fecha|e }}
                    </div>
                    </div>
                </div>
				<li class="list-group-item">{{ publicacion.contenido|e }}</li>

                {% for comentario in publicacion.comentarios %}
                    <li class="list-group-item">{{ comentario.contenido|e }}</li>
                    <p>Por {{comentario.usuario|e}} el {{comentario.fecha|e}}</p>
                {% endfor %}

			     <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <!-- <img class="media-object" src="perfil.png"> -->
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Comentar</h4>
                    </div>
                    </div>
                </div>
                <form class="form-signin" action="/publicacion/{{publicacion.id|e}}" method="post">
                    <textarea class="form-control" rows="3" name="textcomment"></textarea>
                    <button class="btn btn-primary btn-block" type="submit">Enviar</button>
                </form>
			</ul>
		</div>

		{% endfor %}
	</div>
</div>

{% endblock %}

