{% extends "base.html" %}

{% block content %}

{% set nombre = usuario.nombre %}
{% set apellido = usuario.apellido %}

{% include "navbar.html" %}
{% include "sidebar.html" %}

<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
		    <h2>Feed</h2>
		</div>
		{% for publicacion in feed %}
		<div class="panel-body">
			<ul class="list-group">
			
				<div class="panel panel-default">
                <div class="panel-heading">
                    <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <!-- <img class="media-object" src="perfil.png"> -->
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ publicacion.titulo|e }}</h4>
                        Por <a href="{{ publicacion.usuarioUrl }}">{{ publicacion.usuario|e }}</a>
                         en <a href="{{ publicacion.grupoUrl }}">{{ publicacion.grupo|e }}</a> el {{ publicacion.fecha|e }}
                    </div>
                    </div>
                </div>
				<li class="list-group-item">{{ publicacion.contenido|e }}</li>
			
			</ul>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

