{% extends "base.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">

	    <div class="panel panel-default">
	    	<div class="panel-heading">
	    		<h2 class="form-signin-heading">Login</h2>
	    	</div>
	    	<div class="panel-body">
	    		<form class="form-signin" method="post">
        			<label for="dni" class="sr-only">DNI</label>
        			<input type="text" name="dni" class="form-control" placeholder="DNI" required autofocus>

        			<br>

			        <label for="password" class="sr-only">Contraseña</label>
			        <input type="password" name="password" class="form-control" placeholder="Contraseña" required>

			        <br>
			        <br>

        			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      			</form>
	        </div>
	    </div>
    </div>
</div>
{% endblock %}
