{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Carajo</a>
                </div>

                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">

                            {% for notificacion in usuario.notificaciones %}

                            <li class="message-preview">
                                <a href="{{ notificacion.url }}">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>{{ notificacion.nombreUsuario|e }}</strong>
                                            </h5>
                                            <p class="small text-muted">Comentó en una publicación en {{ notificacion.grupo }}</p>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{nombre|e}} {{apellido|e}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/usuario"><i class="fa fa-fw fa-user"></i> Perfil </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Mensajes</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Preferencias</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/salir"><i class="fa fa-fw fa-power-off"></i> Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
{% endblock %}
