{% block sidebar %}
	<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="active">
                            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Pagina Principal</a>
                        </li>
                        <li>
                            <a href="/grupos"><i class="fa fa-fw fa-bar-chart-o"></i> Grupos</a>
                        </li>
                        <li>
                            <a href="/repositorio"><i class="fa fa-fw fa-table"></i> Repositorio</a>
                        </li>   
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
{% endblock %}
