{% extends "base.html" %}

{% block content %}

{% set nombre = usuario.nombre %}
{% set apellido = usuario.apellido %}

{% include "navbar.html" %}
{% include "sidebar.html" %}

<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
		    <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
		</div>

		<div class="panel-body">
			Info sobre el usuario
		</div>
	</div>
</div>

{% endblock %}

